# Import Dependencies

In [1]:
import pandas as pd
import numpy as np
from math import sqrt
from collections import Counter
from sklearn.metrics import accuracy_score

# Read and Load File

In [2]:
data = pd.read_csv('./Iris.csv')
data['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

# Check if there are null in the dataset

In [3]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
def checkIfNullthenDrop(dataFrame):
    res = dataFrame.notnull()
    print(f"DataFrame displaying False for Null (Nan) value = \n{res}")
    dataFrame = dataFrame.dropna()
    print(f"\nDataFrame after remoing null values...\n{dataFrame}")
    print(f"\n(Updated) Number of rows and columns in our DataFrame = {dataFrame.shape}")

checkIfNullthenDrop(data)

DataFrame displaying False for Null (Nan) value =
       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    True           True          True           True          True     True
1    True           True          True           True          True     True
2    True           True          True           True          True     True
3    True           True          True           True          True     True
4    True           True          True           True          True     True
..    ...            ...           ...            ...           ...      ...
145  True           True          True           True          True     True
146  True           True          True           True          True     True
147  True           True          True           True          True     True
148  True           True          True           True          True     True
149  True           True          True           True          True     True

[150 rows x 6 columns]

DataFrame after remoing null values...
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

(Updated) Number of rows and columns in our DataFrame = (150, 6)

# Change Values

In [5]:

data['sepalLengthInput'] = 5.5
data['sepalWidthInput'] = 5

data['sepalWidthInput'] = data['sepalWidthInput'].astype(float)
    
data2 = pd.DataFrame(data)

data2 = data2.drop('Id', axis=1) 

#data2['Sepal(L)'] = 5.5
#data2['Sepal(W)'] = 5

#data2['Species'] = data2['Species'].replace(['Iris-setosa', 'Iris-virginica', 'Iris-versicolor'], [1,2,3])

data2['SepalLengthCm'] = data2['SepalLengthCm'].replace([5.5],4.2)

In [6]:
data2

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepalLengthInput,sepalWidthInput
0,5.1,3.5,1.4,0.2,Iris-setosa,5.5,5.0
1,4.9,3.0,1.4,0.2,Iris-setosa,5.5,5.0
2,4.7,3.2,1.3,0.2,Iris-setosa,5.5,5.0
3,4.6,3.1,1.5,0.2,Iris-setosa,5.5,5.0
4,5.0,3.6,1.4,0.2,Iris-setosa,5.5,5.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5.5,5.0
146,6.3,2.5,5.0,1.9,Iris-virginica,5.5,5.0
147,6.5,3.0,5.2,2.0,Iris-virginica,5.5,5.0
148,6.2,3.4,5.4,2.3,Iris-virginica,5.5,5.0
149,5.9,3.0,5.1,1.8,Iris-virginica,5.5,5.0

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer, StandardScaler

In [8]:
temp = data2.copy()

In [9]:
# NEW  
temp['Species'] = temp['Species'].apply(lambda x: 0 if x == 'Iris-setosa' else 1 if x == 'Iris-versicolor' else 2)
temp['Species'].unique()

array([0, 1, 2], dtype=int64)

In [10]:
temp

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepalLengthInput,sepalWidthInput
0,5.1,3.5,1.4,0.2,0,5.5,5.0
1,4.9,3.0,1.4,0.2,0,5.5,5.0
2,4.7,3.2,1.3,0.2,0,5.5,5.0
3,4.6,3.1,1.5,0.2,0,5.5,5.0
4,5.0,3.6,1.4,0.2,0,5.5,5.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,5.5,5.0
146,6.3,2.5,5.0,1.9,2,5.5,5.0
147,6.5,3.0,5.2,2.0,2,5.5,5.0
148,6.2,3.4,5.4,2.3,2,5.5,5.0
149,5.9,3.0,5.1,1.8,2,5.5,5.0

In [11]:
X = temp[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y = temp['Species']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)
  
knn = KNeighborsClassifier(n_neighbors=3)
  
knn.fit(X_train, y_train)

print(knn.predict(X_test))
print(knn.score(X_test, y_test))

[1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]
1.0